@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width:80%;
    align-self: center;
    gap: 50px;
    margin: 50px 0;
}

.profile-photo{
    flex: 1;
    max-width: 50%;
    filter: grayscale(100%);
    z-index: -1;
}

.description{
    display: flex;
    flex-direction: column;
    flex: 1;
    h1{
        margin: 24px 0px 36px 0px;
    }
    h3{
        text-transform: uppercase;
        margin: 0;
        color: #14141490;
        font-style: italic;
        font-size: 24px;
    }
    p{
        margin: 0;
        width: 100%;
    }
    strong{
        font-weight: 600;
    }
}

