.btn-primary {
    background-color: #6600cc; /* Purple */
    color: #fffff0; /* Off-white */
    padding: 10px 20px;
    border: 1px solid #6600cc;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
    font-family: poppins;
    text-transform: capitalize;
  }
  
  .btn-primary:hover {
    background-color: #4b0082; /* Darker Purple */
    border: 1px solid #4b0082;
  }
  
  .btn-secondary {
    background-color: #fffff0; /* Dark Purple */
    color: #141414; /* Off-white */
    padding: 10px 20px;
    border: 1px solid #141414;
    font-size: 16px;
    cursor: pointer;
    text-align: start;
    display: inline-block;
    transition: background-color 0.3s ease;
    font-family: poppins;
    text-transform: capitalize;
  }
  
  .btn-secondary:hover {
    background-color: #6600cc; /* Lighter Purple */
    color: #fffff0;
    border: #6600cc 1px solid;
  }
  