.navbar {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: #141414;
    padding: 0;
    margin: 0;
}

.shrinked {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    width: 100%;
    overflow-x: auto;
    position: sticky;
    top: 0;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 20px;
        background-color: #141414;
        color: #fffff0;
        flex: 1;
        font-family: "VT323";
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: -1px;

        &:hover {
            background-color: #fffff0;
            color: #141414;
        }

        &.active {
            background-color: #fffff0;
            color: #141414;
        }
    }
}

