.container {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.container-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 100px 0;

}

.rotate {
  position: relative;
  right: -10%;
  animation: rotate 30s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate-counterclockwise {
  position: relative;
  left: -10%;
  animation: counterclockwise 30s linear infinite;
}

@keyframes counterclockwise {
  from {
    transform: rotate(-45deg);
  }

  to {
    transform: rotate(-405deg);
  }
}
/* 
.heading {
  display: flex;
  font-family: '04b30';
  text-transform: uppercase;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  padding: 80px 0px;
  gap: 10px;
}
  
.decoration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.decoration > :first-child{
  position: relative;
  left: -100px;
}

.decoration > :last-child{
  position: relative;
  right: -100px;
}

.decoration {
  cursor: pointer; 
} 

.star:hover {
    animation: rotateStar 1s cubic-bezier(0.1, 1, 0.8, 1) forwards; 
    cursor: pointer;
}

@keyframes rotateStar {
    from {
        transform: rotate(0deg); x
    }
    to {
        transform: rotate(360deg*2 + 45);  xs
    }
}
*/
.welcome{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: justify;
  width: 100%;
  flex: 2;
}

h1{
  text-align: start;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 36px;
  line-height: 48px;
}

a{
  color: #141414;
  text-decoration: none;
}

.planet{
  stroke-width: 0.5;
  flex: 1;
}
