.scroll-line-wrapper {
    position: sticky;
    top: 64px; /* Align to the bottom of the navbar */
    left: 0; /* Align to the left edge of the viewport */
    width: 100%; /* Full width of the viewport */
    height: 5px; /* Height of the scroll line */
    background-color: #fffff0; /* Background color of the line */
    z-index: 999; /* Ensure it stays above other content */
    border: 1px solid #141414;
    border-left: none;
    border-right: none;
}

/* Scroll line styles */
.scroll-line {
    height: 100%; /* Full height of the scroll line */
background: linear-gradient(
    to right,
    #E40303,  /* Red */
    #FF8C00,  /* Orange */
    #FFEB00,  /* Yellow */
    #008A00,  /* Green */
    #004DFF,  /* Blue */
    #750787   /* Purple */
  );    transition: width 0.1s ease; /* Smooth transition effect */
}
